.product-details {
    padding: 3em 10em 10em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em 1em;
    grid-template-areas:
    "productImage productDesc"
}

.productImage {
    grid-area: productImage;
    width: 100%;
}
.productDesc {
    grid-area: productDesc;
}

.sizeBuy {
    padding: 5em;
    grid-area: productDesc;

    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2em 1em;
}

.price {
    display: flex;
    align-items: center;
    text-align: right;
}

.controls{
    display: grid;
    gap: 1em;
}

.product-header {
    text-align: center;
}

.dropdown-toggle {
    width:100%
}

@media screen and (max-width: 600px) {
    .product-details {
        grid-template-columns: 1fr;
        padding:1em;
        grid-template-areas:
    "productImage"
    "productDesc"
    }
}
